<section>
	<div class="container-fluid bg-rouge text-center position-relative">
		<h2 class="text-white font-weight-bold mt-5 mb-3">ABONNEZ-VOUS A NOTRE NEWSLETTER</h2>
		<p class="text-white mb-4">Abonnez-vous et recevez notre dernier article dans votre boîte de réception</p>
    <div class="d-flex justify-content-center">
			{{ form(form) }}
		</div>
	</div>
</section>
